.blog-list{
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 10px;
}

.comment-list{
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 20px;
}